/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.

 @import "bootstrap";
 

:root{

//color variables
 --color-gray: #C9C9C9;
 --color-gray-alpha: rgba(201,201,201,0.25);
 
 --color-red: #700606;
 --color-white: #e9fffd;
 --color-black: #212121;
 --color-yellow: #F0F0C8;
 
 --color-purple-alpha: rgba(22,9,33,0.25);
//colors=================

}

 
html {
    height: 100%;
}
* {
	margin-top: 0;
	padding: 0;
}

header {
	line-height:300%;
}

body {
    margin: 0;
	padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
 
.cleartext{
	font-size: 150%;
	text-size-adjust: auto;
}

 
//navbar
$bgDefault      : var(--color-black);
$bgHighlight    : var(--color-red);
$colDefault     : var(--color-white);
$colHighlight   : var(--color-yellow);
$dropDown       : true;
.navbar {
  background-color: $bgDefault;
  .navbar-brand {
    color: $colDefault !important;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault !important; 
    a {
      color: $colHighlight;
      &:hover, &:focus {
        color: $colHighlight; }}}
  .navbar-nav {
    .nav-link {
      color: $colDefault !important;
      border-radius: .25rem;
      margin: 0 0.25em;
      &:not(.disabled) {
        &:hover, &:focus {
          color: $colHighlight; }}}
    @if ($dropDown) {
      .dropdown-menu {
        background-color: $bgDefault;
        border-color: $bgHighlight;
        .dropdown-item {
          color: $colDefault !important;
          &:hover, &:focus, &.active {
            color: $colHighlight;
            background-color: $bgHighlight; }}
        .dropdown-divider {
          border-top-color: $bgHighlight; }}}
    .nav-item.active, .nav-item.show {
      .nav-link, .nav-link:hover, .nav-link:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .navbar-toggler-icon {
      color: $colDefault !important; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault !important; }
  .navbar-link {
    color: $colDefault !important;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 575px) {
  .navbar-expend-sm .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault !important;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
@media (max-width: 767px) {
  .navbar-expend-md .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault !important;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
@media (max-width: 991px) {
  .navbar-expend-lg .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault !important;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
@media (max-width: 1199px) {
  .navbar-expend-xl .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault !important;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
.navbar-expend .navbar-nav .show .dropdown-menu {
  .dropdown-item {
    color: $colDefault !important;
    &:hover, &:focus {
      color: $colHighlight; }}
  .dropdown-item.active {
    color: $colHighlight;
    background-color: $bgHighlight; }}
 
 
 
//Colored Themes
 
#textbox_r{
	background-color: var(--color-gray-alpha)!important;
	border-color: var(--color-black);
	display: inline-block;
	padding: 15px;
	border-radius: 10px;
	color: var(--color-white);
 }
#textbox_w{
	background-color: var(--color-gray-alpha)!important;
	border-color: var(--color-black);
	display: inline-block;
	padding: 15px;
	border-radius: 10px;
	color: var(--color-white);
 } 
#textbox_b{
	background-color: var(--color-purple-alpha)!important;
	border-color: var(--color-black);
	display: inline-block;
	padding: 15px;
	border-radius: 10px;
	color: var(--color-white);
 }
#textbox_y{
	background-color: var(--color-gray-alpha)!important;
	border-color: var(--color-black);
	display: inline-block;
	padding: 15px;
	border-radius: 10px;
	color: var(--color-white);
 }
 
 
#body_r{
	background: linear-gradient(var(--color-black),var(--color-red));
} 
#body_w{
	background: linear-gradient(var(--color-white),var(--color-gray));
 }
#body_b{
	background: linear-gradient(var(--color-gray),var(--color-black));
 }
#body_y{
	background: linear-gradient(var(--color-yellow),var(--color-white));
 }