/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import "bootstrap-sprockets";
 @import "bootstrap";
 

:root{

//color variables
 --color-gray: #C9C9C9;
 
 --color-red: #700606;
 --color-white: #E0E0E0;
 --color-black: #212121;
 --color-yellow: #F0F0C8;
//colors=================

}

 
html {
    height: 100%;
}
* {
	margin-top: 0;
	padding: 0;
}

header {
	line-height:300%;
}

body {
    margin: 0;
	padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
 
.cleartext{
	color: var(--color-gray);
	text-shadow: -1px -1px 0  var(--color-black), 
				1px -1px 0 var(--color-black), 
				-1px 1px 0 var(--color-black), 
				1px 1px 0 var(--color-black);
	font-size: 150%;
	text-size-adjust: auto;
}

 
 
#textbox{
	background-color: var(--color-white)!important;
	border-color: var(--color-black);
 }
 
 
#red-gradient{
	background: linear-gradient(var(--color-black),var(--color-red));
 }
#white-gradient{
	background: linear-gradient(var(--color-white),var(--color-gray));
 }
#black-gradient{
	background: linear-gradient(var(--color-gray),var(--color-black));
 }
#yellow-gradient{
	background: linear-gradient(var(--color-yellow),var(--color-red));
 }