<body id="body_r">
 <div>
  <%= image_tag("df1", style: "max-width: 100%;") %>
 </div>
<br>
<h1 id="textbox_r">Dead Fantasy I</h1>
<br>
 <div id="responsive">
  <iframe  style="position:absolute;top:0;left:0;width:100%;height:100%;" src="https://www.youtube.com/embed/SIy5Q3EB6ec" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 </div>
<br>
<h1 id="textbox_r">Information</h1>
<br>
<p id="textbox_r">
Description below from Monty's Youtube channel, any GameTrailers descriptions were lost when the site closed.
</p>
<br>
<h1 id="textbox_r">Original Youtube Description</h1>
<br>
<p id="textbox_r">
Published on Mar 12, 2010

Category
People & Blogs
</p>
</body>