<body id="body_r">
 <div>
  <%= image_tag("df2", style: "max-width: 100%;") %>
 </div>
<br>
<h1 id="textbox_r">Dead Fantasy II</h1>
<br>
 <div id="responsive">
  <iframe  style="position:absolute;top:0;left:0;width:100%;height:100%;" src="https://www.youtube.com/embed/c-rTM9qOasQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 </div>
<br>
<p id="textbox_r">Info about df2.</p>

</body>