<body id="body_r">
 <div>
  <!-- <%= image_tag("df2", style: "max-width: 100%;") %> -->
 </div>
<br>
<h1 id="textbox_r">Dead Fantasy V</h1>
<br>
 <div id="responsive">
  <iframe  style="position:absolute;top:0;left:0;width:100%;height:100%;" src="https://www.youtube.com/embed/71tF3fgC0a4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 </div>
<br>
<h1 id="textbox_r">Information</h1>
<br>
<p id="textbox_r">
Description below from Monty's Youtube channel, any GameTrailers descriptions were lost when the site closed.
</p>
<br>
<h1 id="textbox_r">Original Youtube Description</h1>
<br>
<p id="textbox_r">
Published on Mar 12, 2010

Category
People & Blogs
Music in this video
Learn more
Listen ad-free with YouTube Premium
Song
The Hitman-Brian Tyler
Artist
Brian Tyler (aac)
Album
Bangkok Dangerous
Licensed to YouTube by
AdRev for a 3rd Party; AdRev Publishing, and 6 Music Rights Societies

</p>
</body>