<body id="body_r">
<h1 id="textbox_r">Dead Fantasy VI - VIII</h1>
<br>
 <div id="responsive">
  <iframe  style="position:absolute;top:0;left:0;width:100%;height:100%;" src="https://www.youtube.com/embed/-uaIIs8iD10" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 </div>
<br>
<h1 id="textbox_r">Information</h1>
<br>
<p id="textbox_r">
Due to Monty's work on RWBY, the Dead Fantasy series slowed and effectively ended when he passed.
While episode 6 was never officially released, there was a preview for a future Dead Fantasy (most likely DF VIII due to the introduction of Naminé) that many fans consider the 6th installment.
</p>

</body>