<body id="body_r">
<br>
<h1 id="textbox_r">Dead Fantasy Gee</h1>
<br>
 <div id="responsive">
  <iframe  style="position:absolute;top:0;left:0;width:100%;height:100%;" src="https://www.youtube.com/embed/WcK7Y9VSs5M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 </div>
<br>
<h1 id="textbox_r">Information</h1>
<br>
<p id="textbox_r">Info about df gee.</p>
<br>
<h1 id="textbox_r">Original Youtube Description</h1>
<br>
<p id="textbox_r">
Published on Apr 16, 2010

I wish I could've made an intro for this vid here. Something like the actual vid with me falling asleep in front of my computer while working on an episode, and the girls on screen come to life while I'm not looking and start dancing. But I've got episodes to make.

Back when the idea for this came about Dead Fantasy 2 was out which had 9 girls in it. And Girls Generation a very popular (and cute) Korean girl band had this video. This felt all too appropriate, and worked out pretty well. first thing I did was assign roles to each girl whom their personality felt appropriate to the one singing... Except Rachel lol

I tell ya these vids are quite easier than an episode for the simple reason that it requires me to think less. Perhaps the most difficult thing when choreographing a fight is the ideas really. When doing these music videos you eliminate thought and from there it becomes only work. 

Alternate outfits are always fun. Also, random camera angles ftw. :)

Anyhow please excuse if maybe any of the motions aren't quite perfect. Can only follow choreography for so much. This most importantly allowed me to test more on the mocap and Lip synching side than anything. And despite my new more optimized models, getting all these girls in effective playback was really tough.

This like so much of my work is riddled with errors, I could spend forever fixing such tiny details or I could move on...
Category
Film & Animation
Music in this video
Learn more
Listen ad-free with YouTube Premium
Song
Selamat Hari Lahir
Artist
Anita Sarawak
Writers
Federico Mendez
Licensed to YouTube by
SM Entertainment, UMG (on behalf of EMI); UMPG Publishing, LatinAutor, LatinAutor - UMPG, UMPI, UNIAO BRASILEIRA DE EDITORAS DE MUSICA - UBEM, and 11 Music Rights Societies
</p>

</body>