<h1>Listing Interviews</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>
 
  <% @interviews.each do |interview| %>
    <tr>
      <td><%= interview.title %></td>
      <td><%= interview.description %></td>
      <td><%= link_to 'Show', interview_path(interview) %></td>
    </tr>
  <% end %>
</table>